#root {
  height: 100%;
}


.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header-nav {
  background: #535353;
  img {
    max-width: 45px;
  }
}

.header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    a {
      color: white;
      font-family: 'Bebas Neue', cursive;
      text-decoration: none;

      &:hover {
        color: rgb(158, 157, 157);
      }
    }
  }


}


.banner-img {
  background-image: url(./banner-dani.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 85%;
  position: relative;
  margin-top: -4em;
  background-position: center;
  z-index: -1;
  @media (max-width: 768px) {
    background-image: url(/static/media/banner-dani.4cf2b45e.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-top: -3em;
    background-position: center;
    z-index: -1;

  }


 
}

h1 {

  padding-top: 5em;
  text-shadow: 2px 2px #ffffff;

}

.numbers {
  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-title {
    
    font-size: 4rem;
    text-align: center;
    padding: 0em 0em;
    margin: 2rem 2rem;
    font-family: 'Bebas Neue', cursive;

  }

  &-tips {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
    }

    div {
      width: 260px;
      height: 260px;
      border-radius: 33px 33px 33px 33px;
      display: flex;
      margin: 1em;
      background-color: #535353;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (max-width: 768px) {
        width: 140px;
        height: 150px;
        margin: 0.5rem;
      }

      p {
        
        font-size: 4rem;
        color: white;
        margin: 0;
        font-family: 'Bebas Neue', cursive;
        @media (max-width: 768px) {
         font-size: 2rem;
        }

        &:not(:last-child){
          color: #FDDB3A;
        }
      }
    }
  }
}


.store {
  &-container{
    max-width: 80%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &-top{
      display: flex;

      img{
        max-width: 50%;
      }
  }

  &-bottom{
    img{
      max-width: 100%;
    }

  }
}